---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <p>
    I'm programming for the web until I can find a way to program for something
    more exciting.
  </p>

  <p>
    I originally built this blog in Rails to get experience with the framework.
    I abandoned it because my pipeline for publishing new blogs required SSH-ing
    into the server. I rebuilt the site with Astro so I can host it on
    Cloudflare for free, but I don't know if I'll publish new content here.
  </p>
</Layout>
